<h1> KKBox Churn Prediction </h1>

In [2]:
import pandas as pd
import random
from IPython.display import display

<h3> Load Datasets </h3>

<h4> dataset train </h4>

In [11]:
df_train_dataset = pd.read_csv('./kkbox-churn-prediction-challenge/train.csv')

In [12]:
len(df_train_dataset)

992931

In [13]:
df_train_dataset.head()

                                           msno  is_churn
0  waLDQMmcOu2jLDaV1ddDkgCrB/jl6sD66Xzs0Vqax1Y=         1
1  QA7uiXy8vIbUSPOkCf9RwQ3FsT8jVq2OxDr8zqa7bRQ=         1
2  fGwBva6hikQmTJzrbz/2Ezjm5Cth5jZUNvXigKK2AFA=         1
3  mT5V8rEpa+8wuqi6x0DoVd3H5icMKkE9Prt49UlmK+4=         1
4  XaPhtGLk/5UvvOYHcONTwsnH97P4eGECeq+BARGItRw=         1

<h4> dataset members</h4>

In [14]:
df_members_v3 = pd.read_csv('./kkbox-churn-prediction-challenge/members_v3.csv')

In [15]:
len(df_members_v3)

6769473

In [16]:
df_members_v3.head()

,msno,city,bd,gender,registered_via,registration_init_time
0,Rb9UwLQTrxzBVwCB6+bCcSQWZ9JiNLC9dXtM1oEsZA8=,1,0,NaN,11,20110911
1,+tJonkh+O1CA796Fm5X60UMOtB6POHAwPjbTRVl/EuU=,1,0,NaN,7,20110914
2,cV358ssn7a0f7jZOwGNWS07wCKVqxyiImJUX6xcIwKw=,1,0,NaN,11,20110915
3,9bzDeJP6sQodK73K5CBlJ6fgIQzPeLnRl0p5B77XP+g=,1,0,NaN,11,20110915
4,WFLY3s7z4EZsieHCt63XrsdtfTEmJ+2PnnKLH5GY4Tk=,6,32,female,9,20110915

In [17]:
df_members_v3.gender.value_counts(normalize=True)

gender
male      0.510842
female    0.489158
Name: proportion, dtype: float64

In [18]:
# df_members_v3.gender.isna().sum()

In [19]:
# df_members_v3['gender'].fillna('ns', inplace=True)

In [20]:
# df_members_v3.drop(['bd', 'city'], axis=1, inplace=True)

In [21]:
#fill null values with 'ns' for non-specified
df_members_v3['gender'].fillna('ns', inplace=True)
df_members_v3['city'].fillna(0, inplace=True)

#dropping bd (birthday/age) as it has a weird range from -ve to +ve
df_members_v3.drop(['bd'], axis=1, inplace=True)

#convert gender to int value

gender = {'male':1, 'female':2, 'ns':0}
df_members_v3['gender'] = df_members_v3['gender'].map(gender)

In [22]:
print("nulls in gender", df_members_v3.gender.isna().sum())
print("nulls in city", df_members_v3.city.isna().sum())

nulls in gender 0
nulls in city 0

In [23]:
df_members_v3.gender.value_counts(normalize=True)

gender
0    0.654335
1    0.176580
2    0.169085
Name: proportion, dtype: float64

In [24]:
df_members_v3['city'].unique()

array([ 1,  6,  4,  5, 13, 22, 12, 15, 11,  9, 14,  8, 18, 21,  3,  7, 17,
       10, 20, 16, 19])

In [25]:
df_members_v3.head()

,msno,city,gender,registered_via,registration_init_time
0,Rb9UwLQTrxzBVwCB6+bCcSQWZ9JiNLC9dXtM1oEsZA8=,1,0,11,20110911
1,+tJonkh+O1CA796Fm5X60UMOtB6POHAwPjbTRVl/EuU=,1,0,7,20110914
2,cV358ssn7a0f7jZOwGNWS07wCKVqxyiImJUX6xcIwKw=,1,0,11,20110915
3,9bzDeJP6sQodK73K5CBlJ6fgIQzPeLnRl0p5B77XP+g=,1,0,11,20110915
4,WFLY3s7z4EZsieHCt63XrsdtfTEmJ+2PnnKLH5GY4Tk=,6,2,9,20110915

<h4> dataset user_logs </h4>

In [26]:
filename = './kkbox-churn-prediction-challenge/user_logs_v2.csv'

random.seed(4321)
# %timeit df_user_logs_v2 = pd.read_csv(filename, skiprows=lambda x: x > 0 and random.random() >=0.01)
df_user_logs_v2 = pd.read_csv(filename, skiprows=lambda x: x > 0 and random.random() >=1)

In [27]:
len(df_user_logs_v2)

18396362

In [28]:
df_user_logs_v2['date'] = df_user_logs_v2['date'].astype(str).str.slice(0,6)

In [29]:
# df_user_logs_v2.groupby(['msno', 'date']).agg({'num_25': ['mean']
#                                              , 'num_50': ['mean', 'median']
#                                              , 'num_75': ['min', 'max']
#                                              , 'num_985': ['min', 'max']
#                                              , 'num_100': ['min', 'max']
#                                              , 'num_unq': 'sum'
#                                              , 'total_secs': 'sum'})

In [30]:
df_user_logs_v2_agg = df_user_logs_v2.groupby(['msno', 'date']).agg({'num_25': 'mean'
                                             , 'num_50': 'mean'
                                             , 'num_75': 'mean'
                                             , 'num_985': 'mean'
                                             , 'num_100': 'mean'
                                             , 'num_unq': 'sum'
                                             , 'total_secs': 'sum'}).reset_index()

In [31]:
df_user_logs_v2_agg.head()

,msno,date,num_25,num_50,num_75,num_985,num_100,num_unq,total_secs
0,+++IZseRRiQS9aaSkH6cMYU6bGDcxUieAi/tH67sC5s=,201703,3.307692,0.423077,0.384615,0.192308,18.153846,530,117907.425
1,+++hVY1rZox/33YtvDgmKA2Frg/2qhkz12B9ylCvh8o=,201703,6.161290,2.903226,2.419355,4.645161,19.000000,885,192527.892
2,+++l/EXNMLTijfLBa8p2TUVVVp2aFGSuUI/h7mLmthw=,201703,1.535714,0.428571,0.535714,0.428571,17.321429,468,115411.260
3,+++snpr7pmobhLKUgSHTv/mpkqgBT0tQJ0zQj6qKrqc=,201703,9.857143,7.761905,4.761905,3.047619,20.761905,828,149896.558
4,++/9R3sX37CjxbY/AaGvbwr3QkwElKBCtSvVzhCBDOk=,201703,3.620690,0.827586,1.344828,1.206897,16.517241,230,116433.247

<h3> Merge datasets </h3>

<h4> merge train + members </h4>

In [32]:
df_train = df_train_dataset.merge(df_members_v3, how='left', on='msno')

In [33]:
len(df_train)

992931

In [34]:
df_train.isnull().sum()

msno                           0
is_churn                       0
city                      115770
gender                    115770
registered_via            115770
registration_init_time    115770
dtype: int64

In [35]:
df_train.head()

,msno,is_churn,city,gender,registered_via,registration_init_time
0,waLDQMmcOu2jLDaV1ddDkgCrB/jl6sD66Xzs0Vqax1Y=,1,18.0,2.0,9.0,20050406.0
1,QA7uiXy8vIbUSPOkCf9RwQ3FsT8jVq2OxDr8zqa7bRQ=,1,10.0,1.0,9.0,20050407.0
2,fGwBva6hikQmTJzrbz/2Ezjm5Cth5jZUNvXigKK2AFA=,1,11.0,2.0,9.0,20051016.0
3,mT5V8rEpa+8wuqi6x0DoVd3H5icMKkE9Prt49UlmK+4=,1,13.0,2.0,9.0,20051102.0
4,XaPhtGLk/5UvvOYHcONTwsnH97P4eGECeq+BARGItRw=,1,3.0,1.0,9.0,20051228.0

In [36]:
df_train.describe()

,is_churn,city,gender,registered_via,registration_init_time
count,992931.000000,877161.000000,877161.000000,877161.000000,8.771610e+05
mean,0.063923,5.882329,0.657918,6.911228,2.013228e+07
std,0.244616,6.423447,0.804865,1.904441,2.973484e+04
min,0.000000,1.000000,0.000000,3.000000,2.004033e+07
25%,0.000000,1.000000,0.000000,7.000000,2.012021e+07
50%,0.000000,1.000000,0.000000,7.000000,2.014051e+07
75%,0.000000,13.000000,1.000000,9.000000,2.016011e+07
max,1.000000,22.000000,2.000000,13.000000,2.017033e+07

<h4> merge train + members + user_logs </h4>

In [37]:
df_train = df_train.merge(df_user_logs_v2_agg, how='left', on='msno')

In [38]:
len(df_train)

992931

In [39]:
df_train.isnull().sum()

msno                           0
is_churn                       0
city                      115770
gender                    115770
registered_via            115770
registration_init_time    115770
date                      253142
num_25                    253142
num_50                    253142
num_75                    253142
num_985                   253142
num_100                   253142
num_unq                   253142
total_secs                253142
dtype: int64

In [40]:
df_train.head()

,msno,is_churn,city,gender,registered_via,registration_init_time,date,num_25,num_50,num_75,num_985,num_100,num_unq,total_secs
0,waLDQMmcOu2jLDaV1ddDkgCrB/jl6sD66Xzs0Vqax1Y=,1,18.0,2.0,9.0,20050406.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,QA7uiXy8vIbUSPOkCf9RwQ3FsT8jVq2OxDr8zqa7bRQ=,1,10.0,1.0,9.0,20050407.0,201703,0.000000,0.000000,0.000000,0.000000,1.000000,1.0,281.600
2,fGwBva6hikQmTJzrbz/2Ezjm5Cth5jZUNvXigKK2AFA=,1,11.0,2.0,9.0,20051016.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,mT5V8rEpa+8wuqi6x0DoVd3H5icMKkE9Prt49UlmK+4=,1,13.0,2.0,9.0,20051102.0,201703,17.800000,4.600000,2.800000,4.200000,20.800000,190.0,32960.902
4,XaPhtGLk/5UvvOYHcONTwsnH97P4eGECeq+BARGItRw=,1,3.0,1.0,9.0,20051228.0,201703,1.117647,0.352941,0.411765,1.235294,42.058824,756.0,184095.835

In [41]:
df_train.describe()

,is_churn,city,gender,registered_via,registration_init_time,num_25,num_50,num_75,num_985,num_100,num_unq,total_secs
count,992931.000000,877161.000000,877161.000000,877161.000000,8.771610e+05,739789.000000,739789.000000,739789.000000,739789.000000,739789.000000,739789.000000,7.397890e+05
mean,0.063923,5.882329,0.657918,6.911228,2.013228e+07,5.297470,1.294374,0.795682,0.880220,24.602799,511.350843,1.397619e+05
std,0.244616,6.423447,0.804865,1.904441,2.973484e+04,7.012936,1.775685,0.912753,1.566633,26.772464,594.393782,1.858390e+05
min,0.000000,1.000000,0.000000,3.000000,2.004033e+07,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,6.900000e-02
25%,0.000000,1.000000,0.000000,7.000000,2.012021e+07,1.666667,0.428571,0.285714,0.294118,10.125000,123.000000,3.001571e+04
50%,0.000000,1.000000,0.000000,7.000000,2.014051e+07,3.409091,0.875000,0.588235,0.600000,17.400000,330.000000,8.259296e+04
75%,0.000000,13.000000,1.000000,9.000000,2.016011e+07,6.516129,1.600000,1.000000,1.076923,29.181818,680.000000,1.757391e+05
max,1.000000,22.000000,2.000000,13.000000,2.017033e+07,1510.322581,452.000000,149.000000,489.161290,1922.500000,17001.000000,1.433739e+07

In [42]:
df_train.dtypes

msno                       object
is_churn                    int64
city                      float64
gender                    float64
registered_via            float64
registration_init_time    float64
date                       object
num_25                    float64
num_50                    float64
num_75                    float64
num_985                   float64
num_100                   float64
num_unq                   float64
total_secs                float64
dtype: object

<h3> Post-merge - Data cleaning </h3>

In [81]:
# replacing categorical variables null values with "ns" for non-specified
df_train['gender'].fillna(0, inplace=True)
df_train['city'].fillna('ns', inplace=True)
# df_train['bd'].fillna('ns', inplace=True)
df_train['registered_via'].fillna('ns', inplace=True)

# replacing numerical variables null values with "0" assuming no usage
df_train['num_25'].fillna(0, inplace=True)
df_train['num_50'].fillna(0, inplace=True)
df_train['num_75'].fillna(0, inplace=True)
df_train['num_985'].fillna(0, inplace=True)
df_train['num_100'].fillna(0, inplace=True)
df_train['num_unq'].fillna(0, inplace=True)
df_train['total_secs'].fillna(0, inplace=True)
df_train['registration_init_time'].fillna(0, inplace=True) #considering registration time to be epoch 0

In [82]:
df_train.isnull().sum()

msno                           0
is_churn                       0
city                           0
gender                         0
registered_via                 0
registration_init_time         0
date                      253142
num_25                         0
num_50                         0
num_75                         0
num_985                        0
num_100                        0
num_unq                        0
total_secs                     0
dtype: int64

<h2> Train Validation Test Split </h2>

In [83]:
df_full = df_train

In [84]:
len(df_train)

992931

In [85]:
from sklearn.model_selection import train_test_split

In [86]:
df_full_train, df_test = train_test_split(df_full, test_size=0.2, random_state=42)

In [87]:
df_train, df_val = train_test_split(df_full_train, test_size=0.25, random_state=42)

In [88]:
len(df_full), len(df_train), len(df_val), len(df_test)

(992931, 595758, 198586, 198587)

In [89]:
df_train = df_train.reset_index(drop=True)
df_val = df_val.reset_index(drop=True)
df_test = df_test.reset_index(drop=True)

In [90]:
y_train = df_train.is_churn.values
y_val = df_val.is_churn.values
y_test = df_test.is_churn.values

In [91]:
del df_train['is_churn']
del df_val['is_churn']
del df_test['is_churn']

<h3> EDA </h3>

In [92]:
df_full_train = df_full_train.reset_index(drop=True)

In [93]:
df_full_train

,msno,is_churn,city,gender,registered_via,registration_init_time,date,num_25,num_50,num_75,num_985,num_100,num_unq,total_secs
0,FJZ0yWoLBt5t1jg0XgYWa8ndmUjcYAV2HHM+QHnY4D8=,0,22.0,2.0,7.0,20131107.0,201703,3.375000,0.625000,0.250000,0.375000,15.500000,148.0,31985.235
1,Bn4M8tvH0ekOYBc5aNSuxEUGcru1VMsRL8BmqsVaTuk=,0,ns,0.0,ns,0.0,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000
2,UtKVRpWWZDMS9LAkpmMyGQ5jJFYHuo17L6BtfvbNyfM=,0,1.0,0.0,7.0,20151029.0,201703,9.000000,0.666667,0.333333,0.500000,24.000000,160.0,38111.832
3,4g6uItpj+/X1+Hx3oOITjvpPAKEjw3BBwoAVWSLyktU=,0,13.0,1.0,7.0,20131207.0,201703,3.833333,0.666667,0.625000,0.875000,38.041667,931.0,225066.425
4,nynbPI+xk0HMzyA6Yhl/04sc3CYe1fLfIw5OcazPq+g=,0,13.0,1.0,3.0,20130205.0,201703,5.846154,0.769231,0.423077,0.346154,8.538462,376.0,65099.218
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
794339,dbLzgLwnOZMffAFZ2iyVsIV0L25ifeMwa9hZB1qIzb0=,0,14.0,1.0,7.0,20100917.0,201703,3.000000,1.833333,1.000000,1.000000,18.500000,137.0,31810.845
794340,q0n8vlQpioXSwHcUakJqRanNU/iaL2/X9rklghahixo=,0,22.0,1.0,9.0,20090918.0,201703,1.500000,0.000000,1.000000,0.500000,18.500000,40.0,9686.590
794341,Oecmj2h7AQJxGTcOrTekHxn9eUJ7W14l4eqvs8FKvIE=,0,ns,0.0,ns,0.0,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000
794342,jLS29VjtOH+9f9YRyOOhwR+Tq7b8z3sQw1Dqgx66jEw=,0,ns,0.0,ns,0.0,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000
794343,tibZgmoPIPb0kjyHkaOoTbNAaoRrOLacoMdXaG2bnx4=,0,ns,0.0,ns,0.0,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000

<h4> Check null values in df_train </h4>

In [94]:
df_full_train.isnull().sum()

msno                           0
is_churn                       0
city                           0
gender                         0
registered_via                 0
registration_init_time         0
date                      202667
num_25                         0
num_50                         0
num_75                         0
num_985                        0
num_100                        0
num_unq                        0
total_secs                     0
dtype: int64

<h3> Feature Importance (Categorical Features) </h3>

<h4> Check value counts for churn </h4>

In [95]:
df_full_train.is_churn.value_counts()

is_churn
0    743497
1     50847
Name: count, dtype: int64

In [96]:
df_full_train.is_churn.value_counts(normalize=True)

is_churn
0    0.935989
1    0.064011
Name: proportion, dtype: float64

<h4> Global Churn Rate </h4>

In [97]:
global_churn_rate = df_full_train.is_churn.mean()
round(global_churn_rate,3)

0.064

<h4> df_train data_types </h4>

In [98]:
df_full_train.dtypes

msno                       object
is_churn                    int64
city                       object
gender                    float64
registered_via             object
registration_init_time    float64
date                       object
num_25                    float64
num_50                    float64
num_75                    float64
num_985                   float64
num_100                   float64
num_unq                   float64
total_secs                float64
dtype: object

<h4> Separate numerical and categorical columns </h4>

In [99]:
numerical = ['registration_init_time', 'num_25', 'num_50', 'num_75', 'num_985', 'num_100', 'num_unq', 'total_secs']

In [100]:
df_full_train.columns

Index(['msno', 'is_churn', 'city', 'gender', 'registered_via',
       'registration_init_time', 'date', 'num_25', 'num_50', 'num_75',
       'num_985', 'num_100', 'num_unq', 'total_secs'],
      dtype='object')

In [101]:
categorical = ['gender', 'registered_via', 'city']

In [102]:
df_full_train[categorical].nunique()

gender             3
registered_via     6
city              22
dtype: int64

<h4> Churn rate based on gender </h4>

In [103]:
df_full_train.gender.value_counts(normalize=True)

gender
0.0    0.605579
1.0    0.207748
2.0    0.186674
Name: proportion, dtype: float64

In [104]:
is_churn_gender_na = round(df_full_train[df_full_train.gender==0].is_churn.mean(),3)
is_churn_gender_na

0.049

In [105]:
is_churn_gender_male = round(df_full_train[df_full_train.gender==1].is_churn.mean(),3)
is_churn_gender_male

0.089

In [106]:
is_churn_gender_female = round(df_full_train[df_full_train.gender==2].is_churn.mean(),3)
is_churn_gender_female

0.087

In [107]:
global_churn_rate = df_full_train.is_churn.mean()
round(global_churn_rate,3)

0.064

In [108]:
round(global_churn_rate - is_churn_gender_na, 3)

0.015

In [109]:
round(global_churn_rate - is_churn_gender_male, 3)

-0.025

In [110]:
round(global_churn_rate - is_churn_gender_female, 3)

-0.023

<h4> Gender Risk Ratio </h4>

In [111]:
round(is_churn_gender_na/global_churn_rate,2)

0.77

In [112]:
round(is_churn_gender_male/global_churn_rate,2)

1.39

In [113]:
round(is_churn_gender_female/global_churn_rate,2)

1.36

<h4> Churn rate based on registration source </h4>

In [114]:
df_full_train['registered_via'].unique()

array([7.0, 'ns', 3.0, 9.0, 4.0, 13.0], dtype=object)

In [115]:
df_full_train.registered_via.value_counts(normalize=True)

registered_via
7.0     0.486438
9.0     0.238234
ns      0.116597
3.0     0.106042
4.0     0.049582
13.0    0.003107
Name: proportion, dtype: float64

In [116]:
is_churn_registered_via_7 = round(df_full_train[df_full_train.registered_via==7].is_churn.mean(),3)
is_churn_registered_via_7

0.03

In [117]:
is_churn_registered_via_9 = round(df_full_train[df_full_train.registered_via==9].is_churn.mean(),3)
is_churn_registered_via_9

0.086

In [118]:
is_churn_registered_via_3 = round(df_full_train[df_full_train.registered_via==3].is_churn.mean(),3)
is_churn_registered_via_3

0.128

In [119]:
is_churn_registered_via_4 = round(df_full_train[df_full_train.registered_via==4].is_churn.mean(),3)
is_churn_registered_via_4

0.183

In [120]:
is_churn_registered_via_13 = round(df_full_train[df_full_train.registered_via==13].is_churn.mean(),3)
is_churn_registered_via_13

0.088

In [131]:
is_churn_registered_via_isna = round(df_full_train[df_full_train.registered_via=='ns'].is_churn.mean(),3)
is_churn_registered_via_isna

0.05

In [122]:
global_churn_rate = df_full_train.is_churn.mean()
round(global_churn_rate,3)

0.064

In [123]:
round(global_churn_rate - is_churn_registered_via_7,3)

0.034

In [124]:
round(global_churn_rate - is_churn_registered_via_9,9)

-0.02198869

In [125]:
round(global_churn_rate - is_churn_registered_via_3,3)

-0.064

In [126]:
round(global_churn_rate - is_churn_registered_via_4,3)

-0.119

In [127]:
round(global_churn_rate - is_churn_registered_via_13,3)

-0.024

In [132]:
round(global_churn_rate - is_churn_registered_via_isna,3)

0.014

<h4> Registered via Risk Ratio </h4>

In [133]:
round(is_churn_registered_via_7/global_churn_rate,3)

0.469

In [134]:
round(is_churn_registered_via_9/global_churn_rate,3)

1.344

In [135]:
round(is_churn_registered_via_3/global_churn_rate,3)

2.0

In [136]:
round(is_churn_registered_via_4/global_churn_rate,3)

2.859

In [137]:
round(is_churn_registered_via_13/global_churn_rate,3)

1.375

In [138]:
round(is_churn_registered_via_isna/global_churn_rate,3)

0.781

In [139]:
for c in categorical:
    print(c)
    df_group = df_full_train.groupby(c).is_churn.agg(['min', 'max','mean','count'])
    df_group['diff'] = round(df_group['mean'] - global_churn_rate,3)
    df_group['risk'] = round(df_group['mean'] / global_churn_rate,2)
    display(df_group.T.sort_values(by='risk', axis=1, ascending=False))
    print()
    print()

gender

gender            1.0           2.0            0.0
min          0.000000       0.00000       0.000000
max          1.000000       1.00000       1.000000
mean         0.088721       0.08651       0.048599
count   165023.000000  148283.00000  481038.000000
diff         0.025000       0.02200      -0.015000
risk         1.390000       1.35000       0.760000

registered_via

registered_via,4.0,3.0,13.0,9.0,ns,7.0
min,0.000000,0.000000,0.00000,0.000000,0.00000,0.000000
max,1.000000,1.000000,1.00000,1.000000,1.00000,1.000000
mean,0.182912,0.127882,0.08752,0.086493,0.04972,0.030233
count,39385.000000,84234.000000,2468.00000,189240.000000,92618.00000,386399.000000
diff,0.119000,0.064000,0.02400,0.022000,-0.01400,-0.034000
risk,2.860000,2.000000,1.37000,1.350000,0.78000,0.470000

city

city,21.0,8.0,12.0,10.0,4.0,5.0,20.0,6.0,15.0,22.0,...,18.0,13.0,3.0,14.0,16.0,17.0,7.0,19.0,ns,1.0
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.00000,1.000000
mean,0.099741,0.098302,0.098439,0.093138,0.088861,0.087601,0.087037,0.086069,0.085082,0.083768,...,0.080563,0.079303,0.079012,0.077176,0.075597,0.075548,0.070826,0.070175,0.04972,0.048664
count,4251.000000,6124.000000,9224.000000,5261.000000,38307.000000,56974.000000,540.000000,20774.000000,34602.000000,33760.000000,...,6256.000000,78660.000000,4050.000000,16093.000000,754.000000,4474.000000,2132.000000,114.000000,92618.00000,364544.000000
diff,0.036000,0.034000,0.034000,0.029000,0.025000,0.024000,0.023000,0.022000,0.021000,0.020000,...,0.017000,0.015000,0.015000,0.013000,0.012000,0.012000,0.007000,0.006000,-0.01400,-0.015000
risk,1.560000,1.540000,1.540000,1.460000,1.390000,1.370000,1.360000,1.340000,1.330000,1.310000,...,1.260000,1.240000,1.230000,1.210000,1.180000,1.180000,1.110000,1.100000,0.78000,0.760000

<h3> Feature Importance (Numerical features) </h3>

In [140]:
df_full_train[numerical].corrwith(df_full_train.is_churn)

registration_init_time    0.021320
num_25                   -0.084677
num_50                   -0.082700
num_75                   -0.096250
num_985                  -0.069081
num_100                  -0.108744
num_unq                  -0.102880
total_secs               -0.093795
dtype: float64

<h3> Dictionary Vectorizer </h3>

from sklearn.feature_extraction import DictVectorizer

train_dicts = df_train[categorical + numerical].to_dict(orient='records')
val_dicts = df_val[categorical + numerical].to_dict(orient='records')

train_dicts[0]

dv = DictVectorizer(sparse=False)

# dv.fit(train_dicts)

# dv.transform(train_dicts)

dv.feature_names_

X_train = dv.fit_transform(train_dicts)
X_val = dv.fit_transform(val_dicts)

len(X_train), len(X_val)

<h3> Save datasets as pickle </h3>

In [3]:
import pickle

In [143]:
len(df_full), len(df_train), len(df_val), len(df_test)

(992931, 595758, 198586, 198587)

In [144]:
y_train = pd.DataFrame(y_train)
y_val = pd.DataFrame(y_val)
y_test = pd.DataFrame(y_test)

In [145]:
df_full.to_pickle("./df_full.pkl")
df_train.to_pickle("./df_train.pkl")
df_val.to_pickle("./df_val.pkl")
df_test.to_pickle("./df_test.pkl")

y_train.to_pickle("./y_train.pkl")
y_val.to_pickle("./y_val.pkl")
y_test.to_pickle("./y_test.pkl")

In [8]:
df_train = pd.read_pickle("df_train.pkl")

In [9]:
df_train.head()

,msno,city,gender,registered_via,registration_init_time,date,num_25,num_50,num_75,num_985,num_100,num_unq,total_secs
0,Kv7SX4LdO2DZM7PvYXOduREFvokC6hpE87oi9LEB7t8=,1.0,0.0,7.0,20140428.0,201703,20.0,2.0,2.0,1.0,11.0,28.0,3021.268
1,zT5Walnk/rNN0qPAGkhwOOTMNGpG8H4a5+XuxhQBLKE=,13.0,1.0,9.0,20070426.0,201703,7.0,0.0,1.0,0.0,4.0,12.0,1216.551
2,XUvUprqVv3bdOX57FFB4yjDOZDoTtG2TuQo9k924eK0=,1.0,0.0,7.0,20150822.0,201703,0.0,0.0,0.0,0.0,27.0,27.0,6346.438
3,LXGDMlbHWDdYI7ymCGYJeU2DWxafBzoXlDuXAv8aVpo=,1.0,0.0,7.0,20151115.0,201703,5.0,0.0,2.0,1.0,27.0,30.0,6709.970
4,fBMOcajIjTAUo67nojsB/gceYw9UwMpym6itieE9YsU=,13.0,2.0,9.0,20110105.0,201703,1.0,1.0,1.0,0.0,4.0,7.0,1232.410

In [10]:
df_train.dtypes

msno                       object
city                       object
gender                    float64
registered_via             object
registration_init_time    float64
date                       object
num_25                    float64
num_50                    float64
num_75                    float64
num_985                   float64
num_100                   float64
num_unq                   float64
total_secs                float64
dtype: object